<!DOCTYPE html>
<html lang="en">
    <head>

    </head>
    <body>
        <h1>store person</h1>
        <form method="POST" action="/person" enctype="multipart/form-data">
            person Id :<input type='text' name='per_id'><br/>
            firstname :<input type='text' name="per_firstname"><br/>
            lastname :<input type='text' name="per_lastname"><br/>
            image :<input type='file' name="image"><br/><br/>
            <input type='submit'>
        </form>
        
    </body>
</html>